{% load static %} 


{% block content %}

 <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/pharm/dashboard/{{user.user_name}}">
        <div class="sidebar-brand-icon">
          <!-- <i class="fas fa-laugh-wink"></i> -->
          <img src="{% static 'img/logo.png' %}"  class="img-fluid" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">UIPMR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/pharm/dashboard/{{user.user_name}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
     <!--  <div class="sidebar-heading">
        Medical Details
      </div>
 -->
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span> Customers</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-pharmelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Medial Details:</h6> -->
            <a class="collapse-item {% if request.resolver_match.url_name == 'takepatient' %}active text-success{% endif %}" href="/pharm/takepatient/{{user.user_name}}">Patient Prescription</a>
            <a class="collapse-item {% if request.resolver_match.url_name == 'prev_cases' %}active text-success{% endif %}" href="/pharm/prev_cases/{{user.user_name}}">Previous Patient<br/> Prescription</a>
          </div>
        </div>
      </li>


       <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
          <i class="fas fa-fw fa-cog"></i>
          <span>Translate this page:</span>
        </a>
        <div id="collapse5" class="collapse " aria-pharmelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded" >
            <div id="google_translate_element" class="px-2"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </div>
        </div>

      </li>
            <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
          <i class="fas fa-fw fa-cog"></i>
          <span>Feedback</span>
        </a>
        <div id="collapse6" class="collapse" aria-pharmelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Medial Details:</h6> -->
            <a class="collapse-item {% if request.resolver_match.url_name == 'givefeed' %}active text-success{% endif %}" href="/pharm/givefeed/{{user.user_name}}">Give Feedback</a>
            <a class="collapse-item {% if request.resolver_match.url_name == 'showfeed' %}active text-success{% endif %}" href="/pharm/showfeed/{{user.user_name}}">Show Feedbacks</a>
          </div>
        </div>
      </li>


 

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <script type="text/javascript">
      var l=document.getElementsByClassName('collapse-inner');
      for( x of l){
        var y=x.children;
        for(z of y){
          // console.log(z,z.classList,z.classList.contains("active"));
          if(z.classList.contains("active")){
            x.parentElement.classList.add("show");
            break;
          }
        }
      }
    </script>
    {% endblock %}