{% extends "dashboard/superadmin/header_base.html" %}
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/leaflet.css' %}">
<script  src="{% static 'dashboard/js/leaflet.js' %}"></script>
<div class="container">
   <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
         <!-- Nested Row within Card Body -->              
                  <div class="text-center">
                     <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                     {{message}}
                     <script>
                        {% if messages %}
                            {% for message in messages %}
                                alert(message);
                            {% endfor %}
                        {% endif %}
                     </script>
                     {% if form.errors %}
                     {% for field in form %}
                     {% for error in field.errors %}
                     <div class="alert alert-danger">
                        <strong>Field Error{{ error|escape }}</strong>
                     </div>
                     {% endfor %}
                     {% endfor %}
                     {% for error in form.non_field_errors %}
                     <div class="alert alert-danger">
                        <strong>Non Field Error{{ error|escape }}</strong>
                     </div>
                     {% endfor %}
                     {% endif %}
                  </div>
                  <form class="user" action='' method='POST' enctype = "multipart/form-data" >
                     {% csrf_token %}
                      <div class="row">
                     <div class="col-lg-6  ">   
                     <div class="p-5">         
                     <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                           <input type="text" class="form-control form-control-user" pattern="^[a-zA-Z]*$"  id="exampleFirstName" name="firstname" placeholder="First Name" required autofocus>
                        </div>
                        <div class="col-sm-6">
                           <input type="text" class="form-control form-control-user" pattern="^[a-zA-Z]*$" id="exampleLastName" name="lastname"placeholder="Last Name" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <input type="text" pattern="^[a-zA-Z0-9-_]+$" class="form-control form-control-user" id="user_name"  name="user_name" placeholder="User Name(Only Alphanumeric and dash,underscore)" required>
                     </div>
                     <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Email Address" required>
                     </div>
                      <div class="form-group">
                        <div class="container">
                           <div class="row">
                              <div class="col-sm-6">
                                 <p> Please upload the Image and<br> check with the right one.</p>
                                 <input onchange="readURL(this);" type = "file" name = "user_photo" /><br>
                                 <button type="button" class="btn btn-dark mt-3" id="openwebcam" onclick="opencam()" data-toggle="modal" data-target="#myModal">Click Here(For Capture)</button>
                              </div>
                              <div class="col-sm-6">
                                 <img src="{% static 'img/feedback-bg.jpg' %}" class="img-thumbnail w-100 pl-1" id="image_incident_img"  />
                                 <p id="image_incident_p"></p>
                              </div>
                           </div>
                        </div>
                     </div>
                   </div>
                 </div>
                     <div class="col-lg-6">  
               <div class="p-5">
                     
                     <div class="form-group">
                        
                           <input type="text" class="form-control form-control-user" id=""  name="dateofBirth" data-toggle="datepicker" placeholder="Date of Birth(YYYY-MM-DD)" required>
                        
                     </div>
                     
                    
                     
                     <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                           <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password1" required>
                        </div>
                        <div class="col-sm-6">
                           <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password" name="password2" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label>Please Enter the Captcha</label>
                        {{form.captcha}}
                     </div>
                     <input type='submit' name='submit' class="btn btn-dark btn-user btn-block"/>
                     <hr>
                     
                  </form>
                  <hr>
                  <div class="text-center">
                     <a class="small" href="/superadmin/forgot_pass">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                     <a class="small" href="/superadmin/login">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal" id="myModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">For Providing SnapShot. It will Automatically Detect Faces</h4>
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <div id="my_camera"></div>
               <input type=button value="Detect Face" class="btn btn-dark w-100 m-2"  onClick="detect_face()">
               <input type=button value="" id='print_detected' class="btn btn-info w-100 m-2"  >
               <input type=button value="Take Snapshot" class="btn btn-success w-100 m-2"  onClick="take_snapshot();">
               <div id="results" class="w-100 px-1 "  ></div>
               <script src="{% static 'dashboard/js/tracking-min.js' %}"></script>
               <script src="{% static 'dashboard/js/face-min.js' %}"></script>
               <style>
                  #video_detect, #canvas_detect {
                  left: 18%;
                  top: 2%;
                  position: absolute;
                  }
               </style>
               <video id="video_detect" width="320" height="240" preload autoplay loop muted></video>
               <canvas id="canvas_detect" width="320" height="240"></canvas>
               <script>
                  function detect_face() {
                    var canvas = document.getElementById('canvas_detect');
                    var context = canvas.getContext('2d');
                  
                    var tracker = new tracking.ObjectTracker('face');
                    tracker.setInitialScale(4);
                    tracker.setStepSize(2);
                    tracker.setEdgesDensity(0.1);
                  
                    tracking.track('#video_detect', tracker, { camera: true });
                  
                    tracker.on('track', function(event) {
                      context.clearRect(0, 0, canvas.width, canvas.height);
                      document.getElementById('print_detected').value='Undetected';
                      event.data.forEach(function(rect) {
                        document.getElementById('print_detected').value='Detected';
                        context.strokeStyle = '#a64ceb';
                        context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                        context.font = '11px Helvetica';
                        context.fillStyle = "#fff";
                        context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
                        context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
                      });
                    });
                  };
               </script>
               <script src="{% static 'dashboard/js/webcam.min.js' %}"></script>
               <!-- Configure a few settings and attach camera -->
               <script language="JavaScript">
                function opencam() {
                  Webcam.set({
                    width: 320,
                    height: 240,
                    image_format: 'jpeg',
                    jpeg_quality: 90
                  });
                  Webcam.attach( '#my_camera' );
                   var x_vid=document.getElementById('my_camera');
      x_vid.style.width="100%";
      x_vid.childNodes[1].style.width="100%";
                  }
                  function take_snapshot() {
                    Webcam.snap( function(data_uri) {
                      document.getElementById('results').innerHTML =  '<img src="'+data_uri+'" style="width:100%" />';
                      document.getElementById('results').innerHTML += '<button type="button" class="btn btn-success w-100 my-2"  ><a class="text-danger" href="'+data_uri+'" download="Custom_img"/>Click Here to download Snapshot </a></button>';
                    } );
                }
               </script>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
               <!-- Result:<p id='print_detected'></p> -->
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript">
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#image_incident_img')
            .attr('src', e.target.result);
          };
        
          reader.readAsDataURL(input.files[0]);
        }
      }
      var x_gen=document.getElementById('id_gender');
      x_gen.classList.add('form-control');
      // x_gen.classList.add('form-control-user');
      x_gen.placeholder="Please Select Gender";
      x_gen.firstElementChild.innerHTML="Please Select Gender";
     
   </script>
</div>
<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/vendor/jquery/datepicker.min.js' %}"></script>
<script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
<script type="text/javascript">
   (function() {
   $('[data-toggle="datepicker"]').datepicker({ format: 'yyyy-mm-dd'});
   
   })();
   $("#id_captcha_1").addClass("form-control form-control-user");
   $(".captcha").css("float","right");
   $(".captcha").addClass("img-fluid p-2");
  
</script>
{% endblock %}